@charset "utf-8";
/*
 Plugin Name: Google Maps Photo Gallery
 googlemaps-photo-gallery.css
*/
#gmap {
	width:100%;
	height:600px;
}

#gmap img {
	max-width: none !important;
}

#googlemaps_photo_gallery  .swiper-container {
	margin: 1em 0;
	width: 100%;
	height: 100%;
}

#googlemaps_photo_gallery .swiper-slide a {
	display: block;
}

#googlemaps_photo_gallery .swiper-slide img {
	width: 100%;
	vertical-align: bottom;
}
